
h1{
  text-shadow: 0 0 10px #ff00bf;
  color: #ffffff;
  font-size: 50px;
  text-align: center;
}
.register{
  text-shadow: 0 0 10px #6961ff;
}

/*llamar back y ponerlo en todo*/
/*fondo de las paginas*/
/*https://img.freepik.com/vector-gratis/fondo-monocromatico-blanco-degradado_23-2149001594.jpg?w=1380&t=st=1713106753~exp=1713107353~hmac=1629bc066db062ba01728410525fde35c5a063a41aef54713abe7d095d75cb9c.jpg
https://img.freepik.com/fotos-premium/telon-fondo-sutil-generico-sitio-web-estilo-morfismo-vidrio-ar-169-estilizar-750-v-6-j_864601-2885.jpg)
https://images7.alphacoders.com/335/335843.jpg

https://images2.alphacoders.com/839/839399.jpg

*/
.mainPage{
  /*background-color: #f8c1dc;*/
  background: url(https://images7.alphacoders.com/335/335843.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/*REGISTRARSE*/

.registerPage{
  background: url(https://images7.alphacoders.com/330/330712.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.imagen-escalada-register{
  scale: 80%
}

.register-login{
  /*background-color: #f8c1dc;*/
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.register-form{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;

  background-color: #95eef7;/*f8c1dc   fce0f7*/
  border: solid 1px rgb(126, 213, 223);/*rgb(242, 177, 177)*/ 
  
  input{
    margin-top: 5px;
    font-size: medium;
    border: solid 1px rgb(126, 213, 223); /*rgb(242, 177, 177)*/
  }
  
  button{
    margin-top: 10px;
    margin-bottom: 10px;
    
    align-items: flex-start;
    background-color: #defcff;/*f8c1dc f8baed*/
    border: solid 1px rgb(126, 213, 223); /*rgb(242, 177, 177)*/
    font-size: medium;
  }
}

/*FILTROS*/

.filter-input{
  width: 200px;
  border: solid 1px rgb(242, 177, 177);
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 10px;
}

/*LOGIN*/
.loginPage{
  background: url(https://img.freepik.com/foto-gratis/fondo-sala-estudio-rosa-claro-liso-vacio-abstracto-uso-como-montaje-exhibicion-productos-banner-plantilla_1258-71406.jpg?t=st=1713128740~exp=1713132340~hmac=a197bf82a834607fc0654e74f4cf1eaf527b008fb1c86f837869353afb64ebc7&w=1380);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.imagen-escalada-login{
  scale: 60%
}

.login-form{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;

  background-color: #fce0f7;/*f8c1dc   fce0f7*/
  border: solid 1px rgb(242, 177, 177);/*rgb(242, 177, 177)*/ 
  
  input{
    margin-top: 5px;
    font-size: medium;
    border: solid 1px rgb(242, 177, 177); /*rgb(242, 177, 177)*/
  }
  
  button{
    margin-top: 10px;
    margin-bottom: 10px;
    
    align-items: flex-start;
    background-color: #f8baed;
    border: solid 1px rgb(242, 177, 177); 
    font-size: medium;
  }
}

/*PROFILE*/
.profilePage{
  background: url(https://images3.alphacoders.com/774/774375.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.desplazar{
  margin-left: 40px;
}
.profile{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.boton-profile{
  background-color:#f8baed;/*f8c1dc*/
  border: solid 1px rgb(242, 177, 177);
  font-size: medium;
  width:max-content;
}

.delete-input{
  margin-top: 5px;
  margin-left: 40px;
  margin-bottom: 20px;
  font-size: medium;
  border: solid 1px rgb(242, 177, 177);
}


/*botones*/
.botones-main{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content:space-around;
}

.pink-button{
  background-color:#f8baed;/*f8c1dc*/
  border: solid 1px rgb(242, 177, 177);
  font-size: medium;
  width:max-content;
}

.register-button{
  background-color: rgb(109, 166, 251);
  border: solid 2px rgb(86, 151, 248);
  color:rgb(247, 237, 224);
  font-size: 20px;
  &:hover{
    background-color: rgb(66, 140, 252);
    box-shadow: 0 0 5px 0 rgb(66, 140, 252);
  }
}
.back-button{
  margin: 30px 0px 0px 40px;
  background-color: rgb(223, 109, 251);
  border: solid 2px rgb(223, 63, 252);

  color:rgb(247, 237, 224);
  font-size: 20px;
  &:hover{
    background-color: rgb(223, 63, 252);
    box-shadow: 0 0 5px 0 rgb(223, 63, 252);
  }
}

.red-button{
  width: 100px;
  background-color: rgb(255, 68, 68);
  border: solid 2px rgb(252, 50, 50);
  margin-top: 20px;
  margin-left: 40px;
  color:rgb(247, 237, 224);
  &:hover{
    background-color: rgb(251, 34, 34);
    box-shadow: 0 0 5px 0 rgb(251, 34, 34);
  }
}

/*lovers*/
.lover{
  overflow: hidden;
  display:flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 0px 10px 0px;
  width: 250px;
  text-align: center;
  background-color: #f8c1dc;/*#fff6da*/
  box-shadow: 0 0 10px 0 #ff00bf;/*rgba(0,0,0,0.2)*/
  border-radius: 10px;
  h2{
    align-items: flex-start;
  }
}

/*pagina de busqueda de cada lover*/
.pag-Search{
  background: url(https://images7.alphacoders.com/335/335843.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content:space-around;

}

.search{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  background-color: #f8c1dc;
  box-shadow: 0 0 10px 0 #ff00bf;
  margin-top: 20px;
  border-radius: 10px;
  width:fit-content;
}

.full-lover{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.full-lover-main{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 30px 40px 30px 40px;
  background-color: #fce0f7; /*#ffffff*/
  border-radius: 3%;

  .img{
    height: 330px;
    width: 100%;
    border-radius: 2%;
  }
}

.full-lover-extra{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: 30px 40px 30px 40px;
  background-color: #fce0f7;  /*#ffffff*/
  border-radius: 3%;
}


.comentarios{
  display: flex;
  flex-direction: row;
}

.comentar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0px 50px 20px 40px;
  /*border: solid 2px rgb(255, 0, 170);
  border-radius: 2%;*/
  input{
    width: 200px;
    background-color:#fce0f7;/*f8c1dc*/
    border: solid 1px rgb(242, 177, 177);
  }
  button{
    width: 100px;
    background-color: rgb(68, 207, 61);
    border: solid 2px rgb(29, 205, 19);
    margin-top: 20px;
    color:rgb(247, 237, 224);
    &:hover{
      background-color: rgb(29, 205, 19);
      box-shadow: 0 0 5px 0 rgb(29, 205, 19);
    }
  }
}

.delete-comments {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0px 50px 20px 40px;
  /*border: solid 2px rgb(255, 0, 170);
  border-radius: 2%;*/
  input{
    width: 200px;
    background-color:#fce0f7;/*f8c1dc*/
    border: solid 1px rgb(242, 177, 177);
  }
  button{
    width: 100px;
    background-color: rgb(255, 68, 68);
    border: solid 2px rgb(252, 50, 50);
    margin-top: 20px;
    color:rgb(247, 237, 224);
    &:hover{
      background-color: rgb(251, 34, 34);
      box-shadow: 0 0 5px 0 rgb(251, 34, 34);
    }
  }
}

.lovers {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}

.image{
  height: 330px;
  width: 100%;
  object-fit: cover;
  border-radius: 2%;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
button {
  color: inherit;
}
button, [role="button"] {
  cursor: pointer;
}
code {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}
img,
svg {
  display: block;
}
img,
video {
  max-width: 100%;
  height: auto;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.transition-colors {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.my-6 {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}
.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}
.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.my-4 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.py-8 {
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.bg-\[\#86efac\] {
  background-color: #86efac;
}
.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.py-6 {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}
.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.py-1 {
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
}
.border-gray-500 {
  border-color: #6b7280;
}
.bg-white {
  background-color: #fff;
}
.flex {
  display: flex;
}
.gap-8 {
  grid-gap: 2rem;
  gap: 2rem;
}
.font-bold {
  font-weight: 700;
}
.max-w-screen-md {
  max-width: 768px;
}
.flex-col {
  flex-direction: column;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.border-2 {
  border-width: 2px;
}
.rounded {
  border-radius: 0.25rem;
}
.hover\:bg-gray-200:hover {
  background-color: #e5e7eb;
}
.tabular-nums {
  font-variant-numeric: tabular-nums;
}
